

  <div  *ngIf="FetchMode">
    <h1>Auth</h1>

    <div class="text-right" *ngIf="(oidcSecurityService.userData$ | async) as user">
     <b>Name</b>: {{ user.userData.name | titlecase}}
     <br />
     <b>My Token</b>: {{ myToken  }}
     <br />
     <b>Email</b>: {{user.userData.email}}
     <br />
     <b>Employee Id (custom value)</b>: {{user.userData.employee_id}}
     <br />
     <b>Roles</b>: <span *ngFor="let role of user.userData.role">
        {{role}},
      </span>

    </div>



    <div class="container mb-4">
      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col"> </th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Address</th>
                  <th scope="col" class="text-right">TotalPrice</th>
                </tr>
              </thead>
              <tbody>


                <tr *ngFor="let item of orders">
                  <td><img src="https://dummyimage.com/50x50/55595c/fff" /></td>
                  <td>{{item.firstName}}</td>
                  <td>{{item.lastName}}</td>
                  <td>{{item.emailAddress}}</td>
                  <td>{{item.addressLine}}</td>
                  <td class="text-right">{{item.totalPrice}} $</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>

  </div>
  <div style="text-align</b>: center" *ngIf="!FetchMode">
    <button class="btn btn-success my-2 my-sm-0" (click)="FetchData()">Get Data</button>
  </div>


